html, body {
  width:100%;
  height:100%;
}

.main-header {
  margin-top:-20px;
  background: url("../images/big_ds_ribs2.jpg") no-repeat center center;
  height:350px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
}

.main-header > .caption {
  bottom:0;
  left:25%;
  width:50%;
  border-radius:25px;
  position: absolute;
  text-align: center;
  margin:20px auto;
  background: rgba(233, 238, 242, 0.7);
}

.caption > h2 {
  font-size: 2vw;
}

.business-card {
  padding: 8px;
  border: solid 1px;
  border-radius:15px;
  background-color:whitesmoke;
}

.hours-table {
  border-spacing: 4px;
  padding:4px;
  border-collapse: separate;
  border: solid 1.5px;
  border-radius:10px;
  margin-bottom: 12px;
  margin:0 auto;
  background-color:whitesmoke;
}

.hours-table > tr > td {
  padding:6px;
}

.hours-header {
  font-weight:bold;
  font-size:0.8em;
}

.open {
  color:forestgreen;
}

.closed {
  color:red;
  font-style: italic;
}

.center-all {
  text-align:center;
}

.about-us {
  padding:8px;
  border: solid 1px;
  border-radius:10px;
  background-color:whitesmoke;
}

.menu-container {
  border: solid 1px;
  border-radius: 20px;
  padding:12px;
}
