@import '../../../assets/sass/variables';
@import '../../../assets/sass/mixins';

.main-header {
  margin-top: -2rem;
  background: url("../../../assets/imgs/bigd_family.jpg") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 65rem;
  position: relative;
  margin-bottom: 1rem;

  .caption {
    bottom: 2.5rem;
    left:25%;
    width:50%;
    border-radius: 2.5rem;
    position: absolute;
    text-align: center;
    margin: 2rem auto;
    background: rgba(233, 238, 242, 0.45);
  }

  @media screen and (max-width: 1024px){

    .caption {
      width: 90%;
      left: 5%;
      font-size: 0.8rem;
    }

  }
}

.home-layout {
  @include page-layout;

  .hours-table {
    border-spacing: 0.4rem;
    padding: 0.4rem;
    border-collapse: separate;
    border: solid 0.1rem;
    border-radius: 1rem;
    margin-bottom: 1.2rem;
    margin:0 auto;
    background-color: $gray-lighter;
    box-shadow: 0.3rem 0.3rem 0.3rem $gray-light;

    .hours-header {
      font-weight: bold;
      font-size: 0.8em;

      &.closed {
        color: red;
        font-style: italic;
      }
    }
  }

  .about-us {
    padding: 1rem;
    border: solid 0.1rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.3rem $gray-light;
    background-color: $gray-lighter;
  }
}
