<div class="main-header">
  <div class="caption" [@enterCaption]>
    <h2>Come in as a customer, leave as family...</h2>
    <a class="btn btn-primary btn-lg" style="margin-bottom: 8px;" (click)="goToMenu()">View Menu</a>
  </div>
</div>

<section class="home-layout container-fluid">

      <div class="row">
        <div class="col-sm-3">
          <h2 class="text-center">Hours</h2>

          <table class="hours-table">
            <tr>
              <td><span class="hours-header">Sunday</span></td>
              <td><span class="hours-header closed">{{homeData.hours.SUNDAY}}</span></td>
            </tr>
            <tr>
              <td><span class="hours-header">Monday</span></td>
              <td><span class="hours-header closed">{{homeData.hours.MONDAY}}</span></td>
            </tr>
            <tr>
              <td><span class="hours-header">Tuesday</span></td>
              <td>{{homeData.hours.TUESDAY}}</td>
            </tr>
            <tr>
              <td><span class="hours-header">Wednesday</span></td>
              <td>{{homeData.hours.WEDNESDAY}}</td>
            </tr>
            <tr>
              <td><span class="hours-header">Thursday</span></td>
              <td>{{homeData.hours.THURSDAY}}</td>
            </tr>
            <tr>
              <td><span class="hours-header">Friday</span></td>
              <td>{{homeData.hours.FRIDAY}}</td>
            </tr>
            <tr>
              <td><span class="hours-header">Saturday</span></td>
              <td>{{homeData.hours.SATURDAY}}</td>
            </tr>
          </table>
        </div>
        <div class="col-sm-6">
          <h2 class="text-center">Contact Big D's</h2>

          <div class="business-card text-center">
            <h4>Let us cater your next event!</h4>

            <p>Phone: {{homeData.phoneNumber}}</p>
            <p>Email: <a href="mailto:{{homeData.email}}">{{homeData.email}}</a></p>
          </div>
        </div>
        <div class="col-sm-3">
          <h2 class="text-center">About Us</h2>
          <p class="about-us">
            {{homeData.about}}
          </p>
        </div>
      </div>

</section>
