<div class="container-fluid">

  <div class="jumbotron">
    <h1>Jumbotron</h1>
  </div>


  <h1>An example h1</h1>
  <h2>An example h2</h2>
  <h3>An example h3</h3>
  <h4>An example h4</h4>
  <h5>An example h5</h5>
  <h6>An example h6</h6>

  <p>An example paragraph with some lorem ipsum text and some other text and words.</p>

  <a href="#/">A simple hyperlink tag</a>

  <br />
  <br />

  <a class="btn btn-default" href="#/">default</a>

  <br />
  <br />

  <a class="btn btn-primary" href="#/">primary</a>

  <br />
  <br />

  <a class="btn btn-success" href="#/">success</a>

  <br />
  <br />

  <a class="btn btn-danger" href="#/">danger</a>

  <br />
  <br />

  <a class="btn btn-warning" href="#/">warning</a>

  <br />
  <br />

</div>
